<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampGrounds</title>
</head>
<body>
    <h1>All Campgrounds</h1>
    <ul>
        <% for (let campGround of campGrounds) {%>
            <li><%= campGround.title %></li>
            <% } %>
    </ul>
</body>
</html>