<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-2">
                <label class="form-label" for="">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Yeah Looks good!
                </div>
            </div>
            <div class="mb-2">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="campground[location]" required>
            <div class="invalid-feedback">
            Please enter a location.
            </div>
            </div>
            <div class="input-group mb-2">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00"
                    aria-label="campground price" aria-describedby="basic-addon1" name="campground[price]"
                    required>
                    <div class="invalid-feedback">
                        Enter a valid price.
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="campground[description]" required></textarea>
                <div class="invalid-feedback">
                    Please enter a message in the textarea.
                </div>
                <div class="mb-3">
    <label for="image" class="form-label">Upload Images</label>
    <input class="form-control" type="file" id="image" name="image" multiple>
    </div>
                </div>
                <div class="mb-2 text-center">
                    <button class="btn btn-success ">Add New Campground</button>
                </div>
            </form>
            <div class="d-flex justify-content-evenly">

                <div class="mb-2">
                    <button class="btn btn-info">
                        <a href="/campgrounds">Back to Campgrounds</a>
                    </button>
                </div>
                <div class="mb-2">
                    <button class="btn btn-info">
                        <a href="/">Back to Home</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

